<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>hello, <%= user ? user.profile.name : "friend" %></h1>
  <!-- <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div> -->
    <div>
      <img
        src="https://images.unsplash.com/photo-1616514169928-a1e40c6f791c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      />
    </div>
  <% } %>
</main>

<%- include('./partials/footer') %>
