<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css" />
<%- include('../partials/nav') %>

<main>
  <h1>Game Prediction</h1>
  <p>
    Only one prediction per game
    <section>
      <% predictions.forEach(prediction => { %>
        <div><%= prediction.homeTeam %></div>
        <div><%= prediction.homeScore %></div>
        <div><%= prediction.awayTeam %></div>
        <div><%= prediction.awayScore %></div>
      <% }) %>
      </section>
  </p>
  <form id="add-prediction-form" action="/predictions" method="POST">
    <label for="home-input">Home Team:</label>
    <input type="text" name="homeTeam" id="home-input">
    <label for="home-score-input">Home Score:</label>
    <input type="number" name="homeScore" id="home-score-input">
    <label for="away-input">Away Team:</label>
    <input type="text" name="awayTeam" id="away-input">
    <label for="away-score-input">Away Score:</label>
    <input type="number" name="awayScore" id="away-score-input">
    <button type="submit">Add Prediction</button>
  </form>
</main>
  
  <%- include('../partials/footer') %>