<%- include("../partials/html-head") %>
<link rel="stylesheet" href="/stylesheets/games/edit.css" />
<%- include("../partials/nav") %>

<main>
  <h1><%= title %></h1>
  <form id="new-form" action="/games/<%= game._id %>?_method=PUT" method="POST">
    <label for="title-input">Title:</label>
    <input type="text" name="title" id="title-input">
    <label for="date-input">Match Date:</label>
    <input type="date" name="date" id="date-input">
    <button type="submit">Update</button>
  </form>
</main>
  
  <%- include("../partials/footer") %>