<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css" />
<%- include('../partials/nav') %>

<main>
  <h1>Game List</h1>
  <table>
    <thead>
      <tr>
        <th>Game</th>
        <th>Match Date</th>
        <th>Game Details</th>
      </tr>
    </thead>
    <tbody>
      <% games.forEach(game => { %>
        <tr>
          <td><%= game.title %></td>
          <td><%= game.date %></td>
          <td><a href="/games/<%= game._id %>">DETAILS</a></td>
          <td>
            <form 
              action="/games/<%= game._id %>?_method=DELETE"
              method="POST"
            >
              <button>Delete Game</button>
            </form>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</main>
  
  <%- include('../partials/footer') %>