<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Title: </div>
    <div><%= game.title %></div>
    <div>Date: </div>
    <div><%= game.date %></div>
    <div>
      <a href="/games/<%= game._id %>/edit">
        <button>Edit Game</button>
      </a>
    </div>
      <a href="/players/new">
        <button>Players</button>
      </a>
  </section>
</main>
  
  <%- include('../partials/footer') %>