<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Title: </div>
    <div><%= game.title %></div>
    <div>Date: </div>
    <div><%= game.date %></div>
    <div>
      <a href="/games/<%= game._id %>/edit">
        <button>Edit Game</button>
      </a>
    </div>
    <div>Select player you predict will make a goal:</div>
    <ul>
      <% game.playerPrediction.forEach(player => { %>
        <li><%= player.player %></li>
      <% }) %>
    </ul>
  </section>

  <form id="add-player-prediction" action="/games/<%= game._id %>/players" method="POST">
    <select name="playerId">
      <% players.forEach(player => { %>
        <option value="<%= player._id %>"><%= player.player %></option>
      <% }) %>
    </select>
    <button type="submit">Add Player</button>
  </form>

  <h2>Score Prediction</h2>
  <% if (user) { %>
    <h3>Add a prediction</h3>
    <ul>
      <% game.scorePrediction?.forEach(prediction => { %>
        <li>
          <%= prediction.homeScore %> - <%= prediction.awayScore %>  <%= prediction.commenter.name %>
          <% if (prediction.commenter.equals(user?.profile._id)) { %>
            <a href="/games/<%= game._id %>/scorePrediction/<%= prediction._id %>/edit"> 
              <button class="btn">Edit Prediction</button>
            </a>
            <form 
            action="/games/<%= game._id %>/scorePrediction/<%= prediction._id %>?_method=DELETE" 
            method="POST"
            class="inline"
          >
            <button class="btn" type="submit">Delete Prediction</button>
          </form>
          <% } %>
        </li> 
      <% }) %>
    </ul>
    <form action="/games/<%= game._id %>/scorePrediction" method="POST">
      <label for="home-score-input">Home Score:</label>
      <input type="number" name="homeScore" id="home-score-input">
      <label for="away-score-input">Away Score:</label>
      <input type="number" name="awayScore" id="away-score-input">
      <button>Add Prediction</button>
    </form>
  <% } %>

</main>
  
  <%- include('../partials/footer') %>