<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Title: </div>
    <div><%= game.title %></div>
    <div>Date: </div>
    <div><%= game.date %></div>
    <div>
      <a href="/games/<%= game._id %>/edit">
        <button>Edit Game</button>
      </a>
    </div>
    <div>Player Score Prediction:</div>
    <ul>
      <% game.playerPrediction.forEach(player => { %>
        <li><%= player.player %></li>
      <% }) %>
    </ul>
  </section>

  <form id="add-player-prediction" action="/games/<%= game._id %>/players" method="POST">
    <select name="playerId">
      <% players.forEach(player => { %>
        <option value="<%= player._id %>"><%= player.player %></option>
      <% }) %>
    </select>
    <button type="submit">Add Player</button>
  </form>

</main>
  
  <%- include('../partials/footer') %>