<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/games/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Title: </div>
    <div><%= game.title %></div>
    <div>Date: </div>
    <div><%= game.date.toLocaleDateString() %></div>
    <div>
      <a href="/games/<%= game._id %>/edit">
        <button>Edit Game</button>
      </a>
    </div>
  </section>

  <h2>Players in the game:</h2>
  <section id="player-section" >
    <ul>
      <% game.playerPrediction.forEach(player => { %>
        <li><%= player.player %></li>
      <% }) %>
    </ul>
    <form id="add-player-prediction" action="/games/<%= game._id %>/players" method="POST">
    <select name="playerId">
      <% players.forEach(player => { %>
        <option value="<%= player._id %>"><%= player.player %></option>
      <% }) %>
    </select>
    <button type="submit">Add Player</button>
    </form>
  </section>

  <h3>Score Prediction</h3>
  <section id="score-display">
  <% if (user) { %>
    <h4>Add a prediction</h4>
    <ul id="score-ul">
      <% game.scorePrediction?.forEach(prediction => { %>
        <li id="prediction-list">
          <%= prediction.homeScore %> - <%= prediction.awayScore %>  <%= prediction.commenter.name %>
          <% if (prediction.commenter.equals(user?.profile._id)) { %>
            <a href="/games/<%= game._id %>/scorePrediction/<%= prediction._id %>/edit"> 
              <button class="btn">Edit</button>
            </a>
            <form 
            action="/games/<%= game._id %>/scorePrediction/<%= prediction._id %>?_method=DELETE" 
            method="POST"
            class="inline"
          >
            <button class="btn" type="submit">Delete</button>
          </form>
          <% } %>
        </li> 
      <% }) %>
    </ul>
    <form id="add-prediction-form" action="/games/<%= game._id %>/scorePrediction" method="POST">
      <label for="home-score-input">Home Score:</label>
      <input type="number" name="homeScore" id="home-score-input">
      <label for="away-score-input">Away Score:</label>
      <input type="number" name="awayScore" id="away-score-input">
      <button>Add Prediction</button>
    </form>
  <% } %>
</section>

</main>
  
  <%- include('../partials/footer') %>