<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Games</h1>
  <ul>
    <% gamess.forEach(game => { %>
      <li>
        <a href="/games/<%= game._id %>"><%= game.name %></a>
      </li>
    <% }) %>
    </ul>
  </section>
  
  <%- include('../partials/footer') %>